<mat-toolbar class="menu">
    <mat-toolbar-row>
        <img mat-button alt="logo" routerLink="/home" src="https://raw.githubusercontent.com/wizsolucoes/angular-white-label-schematic/master/docs/logowiz.png">

        <a mat-button id="PP" routerLink="/adicao">Adição</a>
        <a mat-button id="PP" routerLink="/users">Users</a>
        <div class="spacer"></div>
        <a mat-button id="PP" routerLink="/login" (click)="sair()">Logout<mat-icon>logout</mat-icon></a>


    </mat-toolbar-row>

</mat-toolbar>